<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EChart Demo</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.2/echarts.min.js" integrity="sha512-ivdGNkeO+FTZH5ZoVC4gS4ovGSiWc+6v60/hvHkccaMN2BXchfKdvEZtviy5L4xSpF8NPsfS0EVNSGf+EsUdxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
            #container {
                width: 1000px;
                height: 850px;
                border: 2px solid black;
            }
        </style>
    </head>

    <body>
        <h1 class="display">EChart Java</h1>
        <div id="container">
        </div>
        <button onclick="downloadImage()">Download Image</button>
        <script type="text/javascript">
            function downloadImage() {
                let canvas = document.querySelector("canvas");
                var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                console.log("haha");
                console.log(canvas);
                console.log(image);
                window.location.href = image;
            }
            let chart = echarts.init(document.getElementById("container"));
            let option = {{{this}}}
            chart.setOption(option);

        </script>
    </body>
</html>